# Output
build
bin
netmirage-*.tar.gz

# Configuration
setup.cfg

# SCons
.sconsign.dblite

# Eclipse
.project
.cproject
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

